@use "node_modules/@bbva-web-components/bbva-foundations-sass/main" as *;

:host {
  --bbva-web-progress-bar-bg-color: #{token('foundations.colors.secondary300')};

  display: block;
  box-sizing: border-box;
  font-size: token('foundations.typography.typeSmall');
  line-height: token('foundations.lineHeight.typeSmall');
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


h2 {
  font-size: token('foundations.typography.type3XLarge');
  color: token('foundations.colors.primary600');
  text-align: center;
  margin-bottom: 2rem;
  font-weight: token('foundations.fontFacePrimary.medium.fontWeight');
}